
.navbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  &_desktop {
    @extend .navbar;
    align-items: center;
    justify-content: center;
    .logo{
      max-width: 50%;
    }
    ul {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      margin-right: 5%;
      margin-left: 5%;
      li {
        list-style: none;
        display: inline-block;
        flex-grow: 1;
        text-align: center;
      }
      .enlaceMenu{
        padding-top: 5%;
        padding-bottom: 5%;
        align-self: flex-start;
        justify-content: center;
        &:hover{
          background: $degradadoFondo;
        }
      }

    }

  }
  &_movil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
    .capaLogo{
      grid-column-start: 2;
      grid-column-end: 2;
      width: 100%;
      display: flex;
      justify-items: center;
      align-items: center;

    }
    .capaBtn{
      width: 100%;
      grid-column-start: 3;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin-right: 5%;
      .btn-menu{
        color: $blanco;
        text-align: end;
      }
    }

  }
}

.menuMovil{
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    padding-top: 1%;
    color: $blanco;
  }
  hr{
    width: 75%;
  }
  img{
    max-width: 25%;
  }

}
