/* You can add global styles to this file, and also import other style files */
@import "styles/colors";
@import "styles/container";
@import "styles/navbar";
@import "styles/logo";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .fondo{
    position: absolute;
    margin:0;
    width: 100%;
    height: 100%;
    background: $fondo;
    background: $degradado;
    background-image: url("/assets/background.webp");
    opacity: .9;
    z-index: -1;
  }
  color: $blanco;
  a{
    text-decoration: none;
    color: $blanco;
  }
}
