/* You can add global styles to this file, and also import other style files */
@import "styles/colors";
@import "styles/container";
@import "styles/navbar";
@import "styles/logo";
@import "styles/hero";
@import "styles/btnPersonalizado";
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $fondo;
  .fondo {
    position: fixed;
    margin: 0;
    background-image: url("./assets/background.webp");
    background-size: cover;
    opacity: .85;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  .mascaraCapa{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #414135;
    opacity: .5;
    z-index:-1;
  }

  color: $blanco;

  a {
    text-decoration: none;
    color: $blanco;
  }
}
